<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>

<body>
<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>LastName</th>
        <th>Name</th>
        <th>Patronymic</th>
        <th>Age</th>
        <th>Email</th>
        <th>Update User</th>
        <th>Delete User</th>
    </tr>
    <tr th:each ="user : ${allUsers}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getLastName()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getPatronymic()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>

        <td><form th:method="GET" th:action="@{/{id}/edit(id=${user.getId()})}">
            <input type="submit" value="Edit"/>
        </form> </td>
        <td><form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
            <input type="submit" value="Delete"/>
        </form> </td>
        </form>

    </tr>
</table>
<br>
<br>

<form th:method="GET" th:action="@{/new}">
    <input type="submit" value="Create New User"/>
</form>

</body>
</html>